body{
	background-color: #D9BC15;
}
#diplomat{
	color: #E3DD1C;
	padding-left: 20px;
}
div.a{
	margin-top: 60px;
	margin-left: 50px;
	padding: 100px;
}
div.b{
	margin-top: 40px;
	padding-right: 150px;
}